/**{
  border: solid 2px red;
}*/
body {
  background-color: #3E505B;
}
#page{
  font-family: 'Poiret One', cursive;
  margin: 5% auto;
  text-align: center;
  width: 510px;
  color: #F8F32B;
}
.title{
  text-transform: uppercase;
  font-size: 2em;
  padding-bottom: 5px;
  margin-bottom: 3%;
}
.game{
  width: 505px;
  align-items: center;
}
.game div{
  width: 166.666667px;
  height: 166.666667px;
  float: left;
}
.cell{
  height: 164px;
  line-height: 164px;
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cells-A {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.cells-B {
  border-bottom: 1px solid;
}
.cells-C {
  border-right: 1px solid;
}
.btn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
}
.modal {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: auto;
  top: auto;
  width: 510px;
  height: 200px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #16415b;
  font-family: 'Indie Flower', cursive;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #113347;
  width: 80%; /* Could be more or less, depending on screen size */
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}