/**{
  border: solid 2px red;
}*/
body {
  background-color: #3E505B;
}
#page{
  font-family: 'Poiret One', cursive;
  margin: 5% auto;
  text-align: center;
  width: 510px;
  color: #F8F32B;
}
.title{
  text-transform: uppercase;
  font-size: 2em;
  padding-bottom: 5px;
  margin-bottom: 3%;
}
.game{
  width: 505px;
  align-items: center;
}
.game div{
  width: 166.666667px;
  height: 166.666667px;
  float: left;
}
.cell{
  height: 164px;
  line-height: 164px;
  font-family: 'Indie Flower', cursive;
  font-size: 5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cells-A {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.cells-B {
  border-bottom: 1px solid;
}
.cells-C {
  border-right: 1px solid;
}